<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>
    <body>
        
    
    
    <h1>Hello</h1>
    <form action="/calculate_range/" method="POST">
        <div class="form-group">
        <label for="usr">Input data seperated by '-' (range-data)</label>
        <label for="usr">Ex: 120-130-5</label>
        <input type="text" class="form-control" name="data">
        </div>
        {% csrf_token %}
    </form>
    
    </body>
    
</html>